@keyframes animatedHeroImage {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 200vh;
  }
}

@keyframes animatedPageUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 0;
  }
}

@keyframes animatedLogoUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 42%;
    transform: translate(-50%, -50%);
  }
}
