@keyframes animatedHeroBackground {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -100vh;
  }
}

@keyframes animatedScrollToExplore {
  100% {
    transform: translateY(0);
  }
}
