$background-color: #030303;
$menu-background-color: #090909;
$text-light-color: #fff;
$text-dark-color: #000;
$text-faded-color: #dadada;
$scroll-background-color: #f0f0f0;
$scroll-color: #090909;
$border-color: #232323;
