@import "node_modules/css-reset-and-normalize/scss/reset-and-normalize";
@import "node_modules/locomotive-scroll/dist/locomotive-scroll";
@import "abstracts/animations";
@import "abstracts/colors";

@import "vendors/locomotive-scroll/locomotive-scroll";

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: $background-color;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: $text-color;
  min-height: 100vh;

  header {
    display: flex;
    align-items: center;
    position: fixed;
    top: -80px;
    width: 100%;
    height: 80px;
    background: $menu-background-color;
    transition: top 0.5s;
    z-index: 999;

    .left-link,
    .middle-link,
    .right-link {
      flex: 1;
    }

    .middle-link {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 300px;
      }
    }
  }

  main {
    .boxed {
      max-width: 1100px;
    }

    .flex-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    .flex-column {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .page-1 {
      width: 100%;
      height: 100vh;
      padding-top: 5vh;
      background: url(/assets/images/background01_m.png) no-repeat center top;
      background-size: cover;
      animation: 4s 1.5s forwards animatedHeroBackground ease-in-out;

      @media (min-width: 768px) {
        background: url(/assets/images/background01.png) no-repeat center top;
      }

      .top-line,
      .bottom-line {
        height: 30vh;

        @media (min-width: 768px) {
          height: 35vh;
        }

        .left {
          height: 100%;
          border-right: 1px solid $border-color;
          transform: translateY(100vh);
          animation: 3s 1.5s forwards animatedReset ease-in-out;
        }
      }

      .middle {
        height: 10vh;

        img {
          width: 85vw;
          z-index: 9;
          transform: scale(2) translateY(50vh);
          animation: 3.5s 1.5s forwards animatedReset ease-in-out;

          @media (min-width: 768px) {
            width: 500px;
          }
        }
      }

      .scroll-to-explore {
        width: 100%;
        height: 15vh;
        overflow: visible;

        h5 {
          font-size: 18px;
          letter-spacing: 6px;
          text-align: center;

          @media (min-width: 768px) {
          }
        }
      }
    }

    .page-2 {
      display: flex;
      justify-content: center;
      // align-items: center;
      height: 200vh;
      margin: 100px 0;

      .content-wrapper {
        max-width: 1100px;

        .knife-intro__text {
          opacity: 0;
        }

        .title {
          padding: 0 10px;
          font-size: 35px;
          text-align: center;
          letter-spacing: 5px;
          text-transform: uppercase;

          @media (min-width: 768px) {
            font-size: 50px;
          }
        }

        .ingress {
          max-width: 90vw;
          font-size: 14px;
          letter-spacing: 2px;
          margin: 0 auto;

          @media (min-width: 768px) {
            font-size: 18px;
          }

          @media (min-width: 940px) {
            max-width: 900px;
          }
        }

        .knife-image {
          margin: 0 auto;
          height: 60vh;

          @media (min-width: 768px) {
            height: auto;
          }
        }
      }
    }

    .page-3,
    .page-4,
    .page-5 {
      height: 100vh;
      overflow: hidden;
    }
  }
}
