@import "node_modules/css-reset-and-normalize/scss/reset-and-normalize";
@import "abstracts/colors";

body {
  background: $background-color;

  section.top-hero {
    width: 100%;
    height: 100vh;
    background: $background-color url("/assets/images/background01.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}
