@import "node_modules/css-reset-and-normalize/scss/reset-and-normalize";
@import "abstracts/animations";
@import "abstracts/colors";

body {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 6.5px;
  text-transform: uppercase;
}

h2 {
  font-size: 0.8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

p {
  font-size: 0.5em;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.4;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeSpeed;
}

.start-page,
.second-page,
.third-page,
.fourth-page {
  height: 100vh;
}

.start-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  background: url(/assets/images/Gubbhyllan%201919.jpg) no-repeat;
  background-size: cover;

  // .text-container {
  //   display: flex;
  //   flex-flow: column nowrap;
  //   align-items: flex-start;
  //   justify-content: center;
  //   width: 100%;
  //   height: 100%;
  //   padding: 0.1em;
  // }
}

.second-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  background: url(/assets/images/kj_verkstan_1925.jpg) no-repeat;
  background-size: cover;
}

.third-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  background-color: #888888;
}

.fourth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  background-color: #ff0000;
}
